{% extends "quiz/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
          {%csrf_token%}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Question {{question_no}}</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class ="btn btn-outline-info" type="submit">Save</button>
                {% if question_no|add:'-1' > 0 %}
                <a class ="btn btn-outline" href="{%url 'question-create' quiz_pk question_no|add:'-1' %}">Prev</a>
                {% endif %}
                {% if can_access_next %}
                <a class ="btn btn-outline" href="{%url 'question-create' quiz_pk question_no|add:'1'%}">Next</a>
                <a class ="btn btn-danger" href="{%url 'question-delete' question.id quiz_pk question_no %}">Delete</a>
                {% endif %}
                <a class ="btn btn-outline" href="{%url 'home' %}">Done</a>
            </div>
        </form>
    </div>
{% endblock content %}
