{% extends "quiz/base.html" %}
{% block content %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ quiz_attempt.user.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ quiz_attempt.user }}</a>
            </div>
            <h2><a class="article-title" href="#">{{ quiz_attempt.quiz.title }}</a></h2>
              <p>Last Score: {{quiz_attempt.score}}<br> Attempt no: {{quiz_attempt.no_of_attempts}}</p>
          </div>
        </article>

        {% for attempt in attempts %}
        <div><p>
          {{attempt.que}}<br>
          A: {{attempt.que.A}}<br>
          B: {{attempt.que.B}}<br>
          C: {{attempt.que.C}}<br>
          D: {{attempt.que.D}}<br>
          You chose: {{attempt.chosen}}<br>
          Correct answer: {{attempt.que.ans}}<br>
        </div></p>
        {% endfor %}

{% endblock content %}